<h1>All posts</h1>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="title" class="form-control" name="title" id="title">
  </div>
  
  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" rows="5" type="body" name="body" id="comment"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>




